*{box-sizing: border-box;
    margin: 0;
    padding: 0;
}





img.slide{
    height: 590px;

}


@media screen and (max-width:300px) {
    img.slide{
        height:200px;
    }
    
}


@media screen and (max-width:768px) {
    img.slide{
        height:400px;
    }
    
}




